@value colors: 'shared/styles/colors.scss';
@value mixins: 'shared/styles/mixins.scss';
@value primary-color, title-color, lead-sentence-color, hover-primary-color, text-color, list-border-color, error-color, label-color from colors;
@value strong-opaque, quick-transition from mixins;

.container {
  max-width: 740px;
  position: relative;
  margin: 0 auto;
  padding: 3rem;
}

.primaryButton {
   font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  height: 37px;
  padding: 0 16px;
  color: #009E5D;
  text-align: center;
  cursor: pointer;
  border: 1px solid #009E5D;
  vertical-align: bottom;
  white-space: nowrap;
  border-radius: 999em;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 35px;
  &:hover {
    color:#1c9963;

  }
}

.primaryButtonLarge {
  composes: primaryButton;
  composes: fontMedium from 'shared/styles/fonts.scss';

  height: 40px;
  padding: 0 24px;
  line-height: 38px;
}


.titleText {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.12;
  color: #333333;
  letter-spacing: -.022em;
  font-weight: 700;
}

.errorText {
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.6;
  color: #CE4844;
}

.descriptionText {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  font-size: 2.1rem;

  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
}


.heading {
  composes: fontXXLarge from 'shared/styles/fonts.scss';
  line-height: 1.12;
  letter-spacing: -.022em;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 1px solid list-border-color;
}

.label {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.498039);
  cursor: text;
}

.tag {
  margin-right: 5px;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 22px;
  letter-spacing: 0;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
}
.tag:hover{
  background: rgba(0,0,0,.1);
}

.formGroup {
   margin-bottom:20px
}

.caption {
  margin-top:5px;
  font-size: 14px;
  font-size: 1.4rem;
   font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

  display: block;
  line-height: 1.4;
  color: #8F8F8F;
  letter-spacing: 0;
  text-align: center;
  font-style: italic;
}
