<!DOCTYPE html>
<html>
  <head>
    <title>水墨小龙虾</title>
    <link rel="stylesheet" href="/css/cms/bundle.css">
  </head>
  <body>
    <div class="container">
    </div>
    <script type="text/javascript" src="/js/cms/bundle.js"></script>
  </body>
</html>
