.button {
  margin-right: 10px;
  display: inline-block;
  padding: 2px 0;
  color: #8F8F8F;
  cursor: pointer;
}

.activeButton {
  margin-right: 10px;
  display: inline-block;
  padding: 2px 0;
  color: #8F8F8F;
  cursor: pointer;
  color: #009E5D;
}
