.root {
  margin-right: 5px;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 22px;
  letter-spacing: 0;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
}
.root:hover{
  background: rgba(0,0,0,.1);
}