.root {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-size: 1.8rem;
  position: relative;
  padding: 15px;
  border: 1px solid #e6e6e6;
  background: #fff;
  cursor: text;
}

.editor {
  margin-top: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  max-height: 500px;
  overflow: scroll;
}


.hidePlaceholder {
  display: none;
}

.h2 {
  margin-top:10px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.6;
  color: rgba(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
}
.h3 {
  margin-top:10px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 24px;
  font-size: 2.4rem;
  color: #8F8F8F;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  word-wrap: break-word;
}
.text {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";;
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.8;
  margin:10px 0;
}


.blockquote {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  margin:30px 0;
  padding: 20px;
  background: #f3f3f3;
}


.caption {
  margin-bottom: 30px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  margin-bottom:20px;
  padding-left: 20px;
  padding-bottom: 3px;
  border-left: 3px solid rgba(0,0,0,0.8);
}

.unorderedListItem,.orderedListItem {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  margin-bottom:20px;
  padding-left: 5px;
}

.urlInputBox {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  margin-bottom: 10px;
}
