.root {
  border-top : 1px solid #ddd;
  height: 60px;
  line-height: 60px;
}

.text {
   font-size: 14px;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  opacity: .7;
  color: #8F8F8F;
}

.gitHubIcon {
  margin-left: 10px;

  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

