.root {
  margin:30px 10px
}

.text {
  font-family:"Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  text-align: center;
}