.root {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
}

.label {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.498039);
  cursor: text;
}

.tagInput {
  margin-top: 10px;
  border-bottom: 1px solid #f3f3f3;
  padding: 6px;
}
.tagInput input {
  font-size: 16px;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
  border: none;
}
.selected {
  margin-top:10px;
  margin-bottom:5px;
  margin-left:0;
  margin-right:0;
}
.tag {
  margin-right: 5px;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 22px;
  letter-spacing: 0;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
  margin-right:10px;
}
.tag:hover{
  background: rgba(0,0,0,.1);
}


.remove {
  margin-left: 10px;
  transition: .5s;
  color: #333333;
  font-weight: 700;
}
.remove:hover{
   cursor: pointer;
    opacity: .7;
}
.suggestions {
  font-size: 14px;
  font-size: 1.4rem;
  position: absolute;
  width: 96%;
  border: 1px solid border-color;
  background: #fff;
  z-index: 10;
}

.suggestions ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}

.suggestions li {
  padding: 5px 20px
}
.suggestions li:hover {
  background-color:#009E5D;
  color: #fff;
  font-weight: 700;
}
.suggestions mark {
  color: inherit;
  background-color: inherit;
}

