html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
  
}
a:active, a:hover {
    outline: 0;
  }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
  font-family: "Source Code Pro",Consolas,Menlo,Monaco,"Courier New",monospace;
  font-size: 13px;
  margin: 0;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}
.public-DraftEditorPlaceholder-root,
.public-DraftEditor-content {
  padding: 3px;
}

.public-DraftEditor-content {
  min-height: 100px;
}

.public-DraftEditorPlaceholder-root {
  color: #B3B3B3;
}

.public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.public-DraftStyleDefault-ul {
  list-style: disc;
  padding-left: 2.0rem
}

.public-DraftStyleDefault-ol {
  padding-left: 2.0rem
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  min-height: 1000px;
  box-sizing: border-box;
}


h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

p {
  margin: 0;
}


input[type="password"] {
  outline: none;
}

input[type="password"] {
  outline: none;
}


input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}
input[type="submit"]::-webkit-search-decoration ,input[type="button"]::-webkit-search-decoration{
  display: none;
}
input[type="submit"]::focus ,input[type="button"]::focus{
 outline-offset: -2px;
}
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="button"]::focus {
  outline-offset: -2px;
}
input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}




.root___1LUzI {
  border-top : 1px solid #ddd;
  height: 60px;
  line-height: 60px;
}

.text___1nIMB {
   font-size: 14px;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  opacity: .7;
  color: #8F8F8F;
}

.gitHubIcon___1pb8T {
  margin-left: 10px;

  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.root___1QlV8 {
  position: relative;
}

.container___3XsfL {
    max-width: 740px;
  position: relative;
  margin: 0 auto;
  padding: 3rem;
}.root___V6NPH {
  margin-bottom: 30px;
  border-bottom: 1px solid #f3f3f3;
}

.title___2Rkyz {
    font-size: 28px;
  font-size: 2.8rem;
  color: #333333;
  font-weight: 700;
}

.leadSentence___wbDTu {
  margin-top:5px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #8F8F8F;
  word-wrap: break-word;
}

.tagItem___1EuN8 {
  margin-top:5px;
  font-size: 14px;
  font-size: 1.4rem;
  display: flex;
  color: #009E5D;
}

.tagName___3czZE {
  margin-left: 5px;
}

.publishDate___15zwb {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 1.4rem;
  color: label-color;
  text-align: right;
}

.root___1pTrl {
  margin-top: 5px;

  display: flex;
}

.item___2vYlF {
  margin-left: 5px;
  font-size: 14px;
  font-size: 1.4rem;
  color:#009E5D;
}
.root___23Mhb {
  margin:10px
}

.text___rBVfX {
  font-family:"Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 21px;
  font-size: 2.1rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  text-align: center;
}.list___1D43j {
  margin-top:30px
}.root___2_8Eh {
  margin-right: 5px;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 22px;
  letter-spacing: 0;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
}
.root___2_8Eh:hover{
  background: rgba(0,0,0,.1);
}.root___40oGa {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}.root___1VYgx {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-size: 1.8rem;
  position: relative;
  padding: 15px;
  border: 1px solid #e6e6e6;
  background: #fff;
  cursor: text;
}

.editor___3Aktg {
  margin-top: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  max-height: 500px;
  overflow: scroll;
}


.hidePlaceholder___TQjJ1 {
  display: none;
}

.h2___2n5y1 {
  margin-top:10px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  font-size: 2.4rem;
  line-height: 1.6;
  color: rgba(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
}
.h3___3c5NH {
  margin-top:10px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 24px;
  font-size: 2.4rem;
  color: #8F8F8F;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  word-wrap: break-word;
}
.text___30NbE {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";;
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.8;
  margin:10px 0;
}


.blockquote___2bSgl {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  font-size: 2.1rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin:30px 0;
  padding: 20px;
  background: #f3f3f3;
}


.caption___1jfiz {
  margin-bottom: 30px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  font-size: 2.1rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-bottom:20px;
  padding-left: 20px;
  padding-bottom: 3px;
  border-left: 3px solid rgba(0,0,0,0.8);
}

.unorderedListItem___2EGTl {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  font-size: 2.1rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-bottom:20px;

  padding-left: 5px;
}

.orderedListItem___1GmzK {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  font-size: 2.1rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-bottom:20px;

  padding-left: 5px;
}

.urlInputBox___19uSC {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  font-size: 2.1rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-bottom: 10px;
}
.root___14PD9 {
  color: #307EA9;
}
.root___jfP8j {
   margin-top: 10px;
  margin-bottom:10px;
  cursor: text;
}
.root___1vqhL {
  margin-bottom: 30px;
  display: block;
}

.image___3-CsZ {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.caption___2jWe- {
  margin-top:5px;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  display: block;
  line-height: 1.4;
  color: #8F8F8F;
  letter-spacing: 0;
  text-align: center;
  font-style: italic;
}.root___3OXrd {
  margin-top: 10px;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

  position: relative;
  display: flex;
  width: 100%;
  min-height: 80px;
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
  line-height: 1.6;
  overflow: hidden;
}

.box___3ZRaI {
  display: flex;
  width: 50%;
  color: #8F8F8F;
}

.prevBox___2_vvs {
  display: flex;
  width: 50%;
  color: #8F8F8F;
  text-align: left;
}

.prevTitle___2p7T3 {
  width: 85%;
  margin: auto 0;
  vertical-align: middle;
}

.nextTitle___31Y0R {
  width: 85%;
  margin: auto 0;
  vertical-align: middle;
}

.nextBox___1qF_o {
  display: flex;
  width: 50%;
  color: #8F8F8F;
  text-align: right;
}
.heading____0U9- {
   margin-bottom:30px
}

.title___13jG0 {
  font-size: 28px;
  font-size: 2.8rem;
  color: #333333;
  font-weight: 700;
}

.dateTime___1wbXP {
  display: table-cell;
  padding: 10px 0;
}

.time___1gB_x {
  margin-left:5px;
  font-size: 12px;
  font-size: 1.2rem;

  vertical-align: middle;
  color: #8F8F8F;
}

.heading____lqxC {
  font-size: 32px;
  font-size: 3.2rem;

  color: rgba(0,0,0,0.8);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.subHeading___1RfG6 {
   margin-top:40px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.12;
  letter-spacing: -.022em;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
}

.siteDescription___3ftGs {
  margin-top:20px
}

.text___3MCIt {
  font-family:"Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.8;
}.root___3dULB {
  margin-bottom:20px
}

.content___1y_ch {
    font-size: 18px;
  font-size: 1.8rem;
   font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

  color: rgba(0,0,0,0.8);
}


.leadSentence___1jrNe {
  margin-top:5px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #8F8F8F;
}
.title___1P9nH {
  font-size: 24px;
  font-size: 2.4rem;
  border-bottom: 1px solid '#e6e6e6';
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}

.button___E6eaj {
     font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  height: 37px;
  padding: 0 16px;
  color: #009E5D;
  text-align: center;
  cursor: pointer;
  border: 1px solid #009E5D;
  border-radius: 999em;
  line-height: 35px;
}
.button___E6eaj:hover {
  color:#1c9963;

}

.list___3bLXJ {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
}
.image___yN2Eg {
 margin-bottom: 20px;
  display: block;
  max-width: 100%;
}


.list___3cogx {
   margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}.root___t3w30 {
  min-height: 500px;
  margin-top:-3rem;
  text-align:center;
}
.title___KTsaW {
  margin-top:20px;
  margin-bottom:10px;
  color: #333333;
  font-weight: 700;
}

.text___10e1y {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  line-height: 2.1;
}
.link___Pl67A{color:#009E5D;}.root___3BYAQ {
  position: relative
}

.alert___3ewIe {
  font-size: 16px;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  z-index: 10000;
  text-align: center;
  color: #fff;
}

.error___1zqid {
  font-size: 16px;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  z-index: 10000;
  text-align: center;
  color: #fff;
  background-color:#CE4844;
}

.success___2q1Xr {
  font-size: 16px;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  z-index: 10000;
  text-align: center;
  color: #fff;
  background-color: #009E5D;
}.root___2VoGI {
  min-height: 500px;
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuLi9jc3MvY2xpZW50L2J1bmRsZS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/