.root {
  margin-bottom:20px
}

.content {
    font-size: 18px;
  font-size: 1.8rem;
   font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

  color: rgba(0,0,0,0.8);
}


.leadSentence {
  margin-top:5px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #8F8F8F;
}
