.root {
  min-height: 500px;
  margin-top:-3rem;
  text-align:center;
}
.title {
  margin-top:20px;
  margin-bottom:10px;
  color: #333333;
  font-weight: 700;
}

.text {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  line-height: 2.1;
}
.link{color:#009E5D;}