.heading {
  font-size: 32px;
  font-size: 3.2rem;

  color: rgba(0,0,0,0.8);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.subHeading {
   margin-top:40px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.12;
  letter-spacing: -.022em;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
}

.siteDescription {
  margin-top:20px
}

.text {
  font-family:"Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans","arial";
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.8;
}